Middleware_And_GroundControlStation/NodeRED/flows.json
[{"id":"45a27c13dc50feef","type":"tab","label":"Forest IoT Sensors","disabled":false,"info":""},{"id":"d0cef6fef362f428","type":"tab","label":"Forest Dashboard","disabled":false,"info":"","env":[]},{"id":"ddc83c3f84d60c8e","type":"tab","label":"Drone Dashboard","disabled":false,"info":"","env":[]},{"id":"f4a837709eeded50","type":"tab","label":"Rover Dashboard","disabled":false,"info":"","env":[]},{"id":"1e9e595034b50399","type":"group","z":"ddc83c3f84d60c8e","name":"Manual Drone Control","style":{"label":true},"nodes":["dd2e157f9b3b3633","540cc34e57fe4e9c","3ce3f08385b6576e","c8861086751bc030","3499e2ee1c3f3658","12958aa28db59c03","70b186293714632b"],"x":34,"y":939},{"id":"2e5854a477d5c6cb","type":"group","z":"ddc83c3f84d60c8e","name":"Drone_Altitude_Status","style":{"label":true},"nodes":["9d956b94c2b83daa","625e50f7dd4d051a","b208d6215d30df09","37cbaac26f532e94"],"x":754,"y":159},{"id":"d5e6a9e93969b044","type":"group","z":"ddc83c3f84d60c8e","name":"Drone_GPS_Status","style":{"label":true},"nodes":["464462086cf2ae5a","186277c313c20204","88797856.1dede8","c7e81206d37a529a","84cb9cc779da0fbf","e6e2b9f573f9164c","ce09ee81.f288b","d9bb1570.f3c058","fbf5e76cc121ca05","adb73f09a6554e29","2a814d06504991a7","993e830f8f34af5a","237e1a767937f15a","fd47513f93d90bde"],"x":34,"y":599},{"id":"d43015cf93e31ca6","type":"group","z":"ddc83c3f84d60c8e","name":"Map Init Flow","style":{"label":true},"nodes":["a728c35a.c1429","ad2c3d03.9a2be","347e393a.d67736","9479465b.ea08c8"],"x":794,"y":939},{"id":"b28420e697d371b3","type":"group","z":"ddc83c3f84d60c8e","name":"Drone_Battery_Status","style":{"label":true},"nodes":["1262dab87f62aef5","63abface34c3623c","6dd7a0f67ac53ed4","d515611ed6adf7c7","ca53de71b5f4292d","689e741e70c424e8","0480ac8709509b26"],"x":74,"y":339},{"id":"cc5e9a2b3b3676ad","type":"group","z":"ddc83c3f84d60c8e","name":"Drone_State","style":{"label":true},"nodes":["8ece3f8d262cb9f9","5eb0b87a2165abb0","35e5b5e7d20c20df","1e052ad82eb7b7ef","5eb481fb214fcc4d","0a1bd2931433318a","a6f7cd4569f97520","fecb0fd50cd8666c","db7f2188b4fe9fa5"],"x":34,"y":19},{"id":"c658abe598d1e37b","type":"group","z":"ddc83c3f84d60c8e","name":"Drone_HUD_State","style":{"label":true},"nodes":["4c85c3eab159475b","e13a29549b9d0a60","8677c8dcb5bc715f","0ec5f752fb113e7d","6137ecb8502301fe","161c11ee64331cac","679c160e3fd0462f","6932f7192e11b980","65bca2a25b622c11"],"x":754,"y":299},{"id":"afd09766af2a7cdb","type":"group","z":"ddc83c3f84d60c8e","name":"Drone_IMU_State","style":{"label":true},"nodes":["f466bc4cde70184c","52198695b4082ec6","6fec6a9b7fc5eab1","48a8e2d685e1ce2d"],"x":754,"y":19},{"id":"b8be345bd97c52a2","type":"group","z":"d0cef6fef362f428","name":"Sensors","style":{"label":true},"nodes":["f2f3ca9686477540","5684f7da73daa882","fdb8636bec1df296","97c311525841e190","5df8d844a1f139b6","73a7e7e509eb3a1e","59f1804470b95ae3","2dbbd235ef307094","1b2dac1f85dc4ad7","76bd080454bafbeb","4f31891091cce835","8e088d2c2e8e5808","2a2df3a95412fabb","5b98d7825372be37","3838260f91d3a038","1b8490fafc068972","269fdd65081a9765","02fd80524b7064ba","cacf600beb13c0ea","1ef2eb0ab5be7aa9","48875349f035a211","a4338c563cf2569d","11efe6d627998f2a","6f6f9180cea13b29","523a8f1075f11445","4a428724f8fae850","fe37c5970a963bc9","da280850a53a72af","3687a21b67f478a5","e1cfd7f33a20f25e","c246a2facc600711","b530fe5f1a4a0865","e2df7153bb6ff427","e775ce3e986c9a8a","e18de8dffdd24043","f6858df0c4dab723","0e0af757e1302d4f"],"x":14,"y":19},{"id":"33351e452b0edfde","type":"group","z":"d0cef6fef362f428","name":"MQTT Bridge + Nuclio IFTTT Notification","style":{"label":true},"nodes":["44e635dd73b4b48b","0634c97f352eb812","32778735d4387135","4d2ae648d6ddc521","e67a74d69086d81a"],"x":734,"y":19},{"id":"704f7bd4f0387da2","type":"group","z":"45a27c13dc50feef","name":"Simulate Forest IoT Sensors","style":{"label":true},"nodes":["84b53428619c8484","d67634a84feae65a","67cf43810e8a13a1","88e9d927ebb6943f","c6edf947594cc4b0","a47b15651b8f951d","e49083c6902d3767","e6d3ac9252f1aa07","974c8fc80b1f1176","d50a98b47072037d","79ad86aebd47f02e","fce76f9d49e0ff09","ff4ab2435609efe3","c57d71eb16ec78ae","163e2663ae4c1201","a1ea08b78e940f15","1a3afed396158b84","7abcb1cc7b215662","42c99e196194923d","99b05f93b7daee47","8d5886c4f358335c","dbbc990805038d35","50ca93d8a0f4a3c6","f7ac4a18e46be62c","d675e3a65404667e","ed195a145a0a2c8d","73e8a4cb9cc63979","4fdcdb0cc665fdf9","a4a42556f6e97d9a","9a842f9f8b5796eb","6105db341f8a5664","3b8277beb0f6b28a","69dc5374c7876135","e324fa1e7f6e0bb2","534fd2b4506d9d9d","cf06f2934aa6578a","b99bf6690be95252","7b2c1391d04a704b","920ac149c9a98e5e","d6c8084b6a0c65d2","0decd561391fe2b6"],"x":214,"y":159,"w":1032,"h":782},{"id":"47568da06afb1245","type":"group","z":"ddc83c3f84d60c8e","name":"Drone_Payload_Status","style":{"label":true},"nodes":["0be3445ae990bcf8","7b24dd45895f71ce","aea14c97e3849a82","6f0ce7ce4002cfcc","946264a767093cb9"],"x":1034,"y":599},{"id":"10ead886a340f5f8","type":"group","z":"d0cef6fef362f428","name":"BRIDGE -> ESP MQTT to ROS","style":{"label":true},"nodes":["4dc7b66d4e8c725f","031f3d1fcc5acb52","c37287a698df3b5a","ea86fc070c0e3615","ebb636617b56996d","c3204bb701cf8a0d","5d869ad3940bd317"],"x":734,"y":339},{"id":"4ba02815719bb1b1","type":"group","z":"d0cef6fef362f428","name":"BRIDGE -> ESP MQTT to ROS","style":{"label":true},"nodes":["dd3bcb3c7b9c0813","98450be0e7abec43","e74c66cbad6a18ef","4d930d2abc7a81f5","91d755360a284785"],"x":734,"y":559},{"id":"161f6153c22c032c","type":"group","z":"d0cef6fef362f428","name":"Fire Warning","style":{"label":true},"nodes":["3e1a5bc79840e628","08213876283c5bf9","0faea2eb9b8fe285","cbc8145d1a35b20a","5928bffb75305243","64fb0f94140ebcba"],"x":734,"y":159},{"id":"407d8ede930ed0f8","type":"group","z":"f4a837709eeded50","name":"Status_JACKAL_Rover","style":{"label":true},"nodes":["bec695bc41df17b7","2feef02238cde301","4138cc3d526116c1","52c93f86d08bdc9b","82a9110486f82178","a9c3e68b9ca68c8e","c2146917c59662e5"],"x":34,"y":19},{"id":"5fadb7e7df5aca58","type":"group","z":"f4a837709eeded50","name":"Battery_Status_Jackal","style":{"label":true},"nodes":["8fe8a1e5fe7e15a2","d1f2e82098134ba6","056ad237852770e8","88d5e535815b8a9e","43c8e3fa95263a56"],"x":804,"y":52.75},{"id":"05fa76a1e1ef9d0c","type":"group","z":"f4a837709eeded50","name":"Battery_Voltage_Jackal","style":{"label":true},"nodes":["c1eb550a2528e39e","8c419680a4427cb4","1739ec0b81b51e42","d12ed2d196203229","ac38eefb2c455393"],"x":754,"y":339},{"id":"f08ca4e11eb9f8b3","type":"group","z":"f4a837709eeded50","name":"Status_Fire","style":{"label":true},"nodes":["26222e96d0eed9d3","7ce41d94cc0851a1","28cbb69e11ed8691","a1fa7c5ff704288d","ae6a3d7f11255044","2ddbe0e11d35627d","983b8a615b71a5c3","b724a18d576d8cca","1f2d12e905ff71ea","e675c1050dbcf165","f2fb7a1e02979e57","8ffdf2cc8c1e386b"],"x":34,"y":479},{"id":"638659e79dbf0cf9","type":"group","z":"f4a837709eeded50","name":"Status_GPS","style":{"label":true},"nodes":["917a1b4935a754e8","8f5767bef00552f1","d90780d0a86137d2","cdff419b9f421c0f","8e3548d2a8ef38e2","f5567fe9d734aff2","baebc1c94ef3b844","e1dcc023d97b534a","08308eedff325358","8e8a90e7527a1b89","e65133342b4ad6d3"],"x":794,"y":619},{"id":"2b0d71437445b798","type":"group","z":"f4a837709eeded50","name":"Map","style":{"label":true},"nodes":["32c462921966bad9","a1f8e10c6f224d10","1a284ebdfe8ef37e","80dbc714d12ccf92","4754c6b087ab1ab8","7de012f7eea5b1c6","df632325fe7370ea","6bc023d9ffab218a","17dfb463eea0b5ef","8d24d95130627fec","b6f09a9f3ea74c88","924611ad2cc067d1","e06af965515b312d","70802bf4318ed54a","b6ea57200ec9291c","9ae5aeea9a3158ef","84a379349d1bcd0d","85d33bb2818216c7","e0f273097bc46780"],"x":54,"y":1039},{"id":"8e51426e14255890","type":"group","z":"f4a837709eeded50","name":"Temperature_JACKAL_Rover","style":{"label":true},"nodes":["a83226165d96a0c1","338b6b185995887f","d93622fde38192dd","d28dd2984d3c405a","3ca8033a587f298e","5a47acdf5eb8e625","f19015fdf6338f95","c11869362e7b9886","72eacb035aa4c685","40c46e71a5978ff4","5c9ea988acb25ec3"],"x":14,"y":1739},{"id":"1efdcc16e841f3c6","type":"group","z":"f4a837709eeded50","name":"Fire Position","style":{"label":true},"nodes":["8498356e1c9525be","06086b6e0999c0f5","c514b385493a875a","f2a5fb7a9ccb0394"],"x":814,"y":1739},{"id":"beb258d68d350182","type":"group","z":"f4a837709eeded50","name":"Fuel","style":{"label":true},"nodes":["2e859349d017e8fa","2776fe320e9cf8f8","bb3003c05ddaa594","068b0e1a5083e2fe","032eae6627e2175e"],"x":1174,"y":1052.75},{"id":"c53101b2820f65ea","type":"group","z":"f4a837709eeded50","name":"WATER","style":{"label":true},"nodes":["ee761337b4ed512e","4503a4cd1d80a998","7e303e7c8d4a45ac","251fc58278c2d560","8dca369638a142f3"],"x":814,"y":1959},{"id":"51e0e9e87b4a35c4","type":"group","z":"ddc83c3f84d60c8e","name":"WS JUMP","style":{"label":true},"nodes":["3fe5301f5a0b5c18","8fac880793052da8","ecbb40cd903a26b0"],"x":1034,"y":799},{"id":"ef111ab183229427","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e61606508ebe963d","type":"ui_tab","name":"Sensors","icon":"","disabled":false,"hidden":false},{"id":"7be8d158b0070434","type":"ui_group","name":"Temperature / Humidity","tab":"e61606508ebe963d","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"6a9c9282d231d3ab","type":"ui_group","name":"Control","tab":"e61606508ebe963d","order":5,"disp":true,"width":6,"collapse":false,"className":""},{"id":"23d33400bcb95372","type":"ui_group","name":"CO2 / Barometric Pressure","tab":"e61606508ebe963d","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5713b076e489f026","type":"ui_group","name":"Precipitation / Wind Direction","tab":"e61606508ebe963d","order":4,"disp":true,"width":6,"collapse":false,"className":""},{"id":"64483a0ae6f0d624","type":"ui_group","name":"Wind Info","tab":"e61606508ebe963d","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"64ebfcdfc44fcd46","type":"mqtt-broker","name":"","broker":"192.168.1.184","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"e063193119f81b43","type":"ui_tab","name":"Drone","icon":"","disabled":false,"hidden":false},{"id":"dcb5afc7d4b5d1ec","type":"ui_group","name":"Map","tab":"5f2c18732ffc5832","order":3,"disp":true,"width":"20","collapse":false,"className":""},{"id":"4927109389cd5918","type":"ui_group","name":"Onboard","tab":"5f2c18732ffc5832","order":1,"disp":true,"width":12,"collapse":false,"className":""},{"id":"16956efe04a47409","type":"ros-server","url":"ws://192.168.1.140:9090"},{"id":"31c6605ba8ea8a8a","type":"ui_group","name":"Fire","tab":"5f2c18732ffc5832","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5f2c18732ffc5832","type":"ui_tab","name":"Rover","icon":"","disabled":false,"hidden":false},{"id":"1a1025cba07f5f42","type":"ui_group","name":"Onboard","tab":"e063193119f81b43","order":2,"disp":true,"width":"12","collapse":false,"className":""},{"id":"da198ebcdac65495","type":"ui_group","name":"Map","tab":"e063193119f81b43","order":3,"disp":true,"width":"20","collapse":false,"className":""},{"id":"27332fc9023a3e0b","type":"ui_spacer","z":"f4a837709eeded50","name":"spacer","group":"4927109389cd5918","order":5,"width":4,"height":1},{"id":"f05c3e03524087ab","type":"ui_spacer","z":"f4a837709eeded50","name":"spacer","group":"4927109389cd5918","order":6,"width":4,"height":1},{"id":"87f6c673d6b46547","type":"ui_spacer","z":"f4a837709eeded50","name":"spacer","group":"4927109389cd5918","order":10,"width":4,"height":1},{"id":"fcce99083dac810a","type":"ui_spacer","z":"f4a837709eeded50","name":"spacer","group":"4927109389cd5918","order":12,"width":1,"height":1},{"id":"4957cd6ddc22b9fc","type":"ui_spacer","z":"f4a837709eeded50","name":"spacer","group":"4927109389cd5918","order":14,"width":1,"height":1},{"id":"d4f83cbe6e55df4f","type":"ui_spacer","z":"f4a837709eeded50","name":"spacer","group":"4927109389cd5918","order":16,"width":7,"height":1},{"id":"b2bf49b36b76ac97","type":"ui_spacer","z":"f4a837709eeded50","name":"spacer","group":"dcb5afc7d4b5d1ec","order":3,"width":1,"height":1},{"id":"e625a9daae4e53bf","type":"ui_spacer","z":"f4a837709eeded50","name":"spacer","group":"dcb5afc7d4b5d1ec","order":5,"width":6,"height":1},{"id":"ddd5e89c08d713bf","type":"ui_spacer","z":"f4a837709eeded50","name":"spacer","group":"31c6605ba8ea8a8a","order":4,"width":2,"height":1},{"id":"a1fca2aee1305488","type":"ui_spacer","z":"f4a837709eeded50","name":"spacer","group":"1a1025cba07f5f42","order":5,"width":1,"height":1},{"id":"69fa0e908e213779","type":"ui_spacer","z":"f4a837709eeded50","name":"spacer","group":"1a1025cba07f5f42","order":8,"width":1,"height":1},{"id":"6f41a06049f30d99","type":"ui_spacer","z":"f4a837709eeded50","name":"spacer","group":"1a1025cba07f5f42","order":11,"width":1,"height":1},{"id":"891ae358c8cc2046","type":"ui_spacer","z":"f4a837709eeded50","name":"spacer","group":"1a1025cba07f5f42","order":14,"width":1,"height":1},{"id":"b97ef294dadbf9bd","type":"ui_spacer","z":"f4a837709eeded50","name":"spacer","group":"1a1025cba07f5f42","order":17,"width":1,"height":1},{"id":"bef80e05e4309ac5","type":"ui_spacer","z":"f4a837709eeded50","name":"spacer","group":"1a1025cba07f5f42","order":20,"width":1,"height":1},{"id":"e3bbc32ffe1d5cb8","type":"ui_spacer","z":"f4a837709eeded50","name":"spacer","group":"1a1025cba07f5f42","order":23,"width":1,"height":1},{"id":"dd16892ccc803e0b","type":"ui_spacer","z":"f4a837709eeded50","name":"spacer","group":"1a1025cba07f5f42","order":26,"width":1,"height":1},{"id":"69bb45eb99eb06ae","type":"ui_spacer","z":"f4a837709eeded50","name":"spacer","group":"1a1025cba07f5f42","order":28,"width":1,"height":1},{"id":"68dd0db1fc70c368","type":"ui_spacer","z":"f4a837709eeded50","name":"spacer","group":"1a1025cba07f5f42","order":30,"width":1,"height":1},{"id":"d69f8b693608e089","type":"ui_spacer","z":"f4a837709eeded50","name":"spacer","group":"1a1025cba07f5f42","order":32,"width":1,"height":1},{"id":"379bc6cc83b7f4c3","type":"ui_spacer","z":"f4a837709eeded50","name":"spacer","group":"1a1025cba07f5f42","order":34,"width":1,"height":1},{"id":"0a7e40221a9e9c38","type":"ui_spacer","z":"f4a837709eeded50","name":"spacer","group":"1a1025cba07f5f42","order":36,"width":1,"height":1},{"id":"323fc8aa97018d96","type":"ui_spacer","z":"f4a837709eeded50","name":"spacer","group":"da198ebcdac65495","order":4,"width":9,"height":1},{"id":"b40551b7e47d391a","type":"ros-server","url":"ws://192.168.209.195:9090"},{"id":"86378675cff76ffb","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"7be8d158b0070434","order":1,"width":1,"height":1},{"id":"21ebb3369d406baa","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"7be8d158b0070434","order":3,"width":1,"height":1},{"id":"bae8f1dc210d4e7d","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"7be8d158b0070434","order":4,"width":1,"height":1},{"id":"9d1df4ae061c6c52","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"7be8d158b0070434","order":5,"width":1,"height":1},{"id":"d61450a95f0c2af2","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"7be8d158b0070434","order":6,"width":1,"height":1},{"id":"a4ce29386ff74734","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"7be8d158b0070434","order":7,"width":1,"height":1},{"id":"a301e4cd56ee5f25","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"7be8d158b0070434","order":8,"width":1,"height":1},{"id":"0b517dd1981763c3","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"7be8d158b0070434","order":9,"width":1,"height":1},{"id":"5f7286e47c1c9448","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"7be8d158b0070434","order":11,"width":1,"height":1},{"id":"336ed0bf84fe15f3","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"7be8d158b0070434","order":13,"width":1,"height":1},{"id":"33b6e6e2c585b8e2","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"7be8d158b0070434","order":14,"width":1,"height":1},{"id":"e0fde001a67bb3c9","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"7be8d158b0070434","order":15,"width":1,"height":1},{"id":"77dfa837791740f4","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"7be8d158b0070434","order":16,"width":1,"height":1},{"id":"dafe931ba5c17ad2","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"7be8d158b0070434","order":17,"width":1,"height":1},{"id":"7651412314c8e350","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"7be8d158b0070434","order":18,"width":1,"height":1},{"id":"8797a4cd7caebd7b","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"7be8d158b0070434","order":19,"width":1,"height":1},{"id":"49bdeebfdf28c49a","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"64483a0ae6f0d624","order":1,"width":1,"height":1},{"id":"c71d0d62545dec76","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"64483a0ae6f0d624","order":3,"width":1,"height":1},{"id":"b0da63b9eae5409a","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"64483a0ae6f0d624","order":4,"width":1,"height":1},{"id":"2a97ab597392fea0","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"64483a0ae6f0d624","order":5,"width":1,"height":1},{"id":"402259fac5f715b2","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"64483a0ae6f0d624","order":6,"width":1,"height":1},{"id":"3a653aa98ec6fb9d","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"64483a0ae6f0d624","order":7,"width":1,"height":1},{"id":"b3967c6fd7f60466","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"64483a0ae6f0d624","order":8,"width":1,"height":1},{"id":"267c4bcf1a86089f","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"64483a0ae6f0d624","order":9,"width":1,"height":1},{"id":"59bfe9093a56cc19","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"23d33400bcb95372","order":1,"width":1,"height":1},{"id":"2797dcbab90a6859","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"23d33400bcb95372","order":3,"width":1,"height":1},{"id":"30013aa4b559a2fd","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"23d33400bcb95372","order":4,"width":1,"height":1},{"id":"d57a8a65a2358860","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"23d33400bcb95372","order":5,"width":1,"height":1},{"id":"29c3c412c854e21d","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"23d33400bcb95372","order":6,"width":1,"height":1},{"id":"c6bf3cd9554b3cf0","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"23d33400bcb95372","order":7,"width":1,"height":1},{"id":"7fc0330c0f47c96f","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"23d33400bcb95372","order":8,"width":1,"height":1},{"id":"e0ec29bbd315985c","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"23d33400bcb95372","order":9,"width":1,"height":1},{"id":"223a4e2bc34ed826","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"23d33400bcb95372","order":11,"width":1,"height":1},{"id":"4dd3659df180e82a","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"23d33400bcb95372","order":13,"width":1,"height":1},{"id":"e7292fd60752dce9","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"23d33400bcb95372","order":14,"width":1,"height":1},{"id":"e2d4763f7242aae7","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"23d33400bcb95372","order":15,"width":1,"height":1},{"id":"77cda3ecb5fac489","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"23d33400bcb95372","order":16,"width":1,"height":1},{"id":"751be48536971213","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"23d33400bcb95372","order":17,"width":1,"height":1},{"id":"92207445e7833407","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"23d33400bcb95372","order":18,"width":1,"height":1},{"id":"db0e6451e2155ad5","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"23d33400bcb95372","order":19,"width":1,"height":1},{"id":"51763578fca9d8df","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"5713b076e489f026","order":1,"width":1,"height":1},{"id":"ff9b9e68cec81d06","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"5713b076e489f026","order":3,"width":1,"height":1},{"id":"c64c98fc22049558","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"5713b076e489f026","order":4,"width":1,"height":1},{"id":"ff9ff5b4942022a1","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"5713b076e489f026","order":5,"width":1,"height":1},{"id":"c77b984454582f7e","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"5713b076e489f026","order":6,"width":1,"height":1},{"id":"028978d215549774","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"5713b076e489f026","order":7,"width":1,"height":1},{"id":"fac65ee1eadd8448","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"5713b076e489f026","order":8,"width":1,"height":1},{"id":"92585b14b496c562","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"5713b076e489f026","order":9,"width":1,"height":1},{"id":"cda0953d37467daf","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"5713b076e489f026","order":11,"width":1,"height":1},{"id":"392858fc51d886c8","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"5713b076e489f026","order":13,"width":1,"height":1},{"id":"c09ea800c235df9c","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"5713b076e489f026","order":14,"width":1,"height":1},{"id":"fdfd67551a6efd8a","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"5713b076e489f026","order":15,"width":1,"height":1},{"id":"2b7bc1d3575d545b","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"5713b076e489f026","order":16,"width":1,"height":1},{"id":"cc16fc2bb846ed07","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"5713b076e489f026","order":17,"width":1,"height":1},{"id":"bb7326559ade2d3e","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"5713b076e489f026","order":18,"width":1,"height":1},{"id":"2982c1b718093905","type":"ui_spacer","z":"d0cef6fef362f428","name":"spacer","group":"5713b076e489f026","order":19,"width":1,"height":1},{"id":"151013f9f73a48a4","type":"ui_group","name":"Control","tab":"e063193119f81b43","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"84b53428619c8484","type":"change","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"vlow","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"low","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"moderate","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"high","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"vHigh","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":340,"wires":[["b99bf6690be95252"]]},{"id":"d67634a84feae65a","type":"switch","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":380,"wires":[["84b53428619c8484"],["88e9d927ebb6943f"]]},{"id":"67cf43810e8a13a1","type":"inject","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"set label","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":460,"y":620,"wires":[["c6edf947594cc4b0","a1ea08b78e940f15","99b05f93b7daee47","f7ac4a18e46be62c","4fdcdb0cc665fdf9"]]},{"id":"88e9d927ebb6943f","type":"change","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"start","rules":[{"t":"set","p":"vlow","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"low","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"moderate","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"high","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"vHigh","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":420,"wires":[["b99bf6690be95252"]]},{"id":"c6edf947594cc4b0","type":"change","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"set state of button","rules":[{"t":"set","p":"vlow","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":380,"wires":[["ff4ab2435609efe3"]]},{"id":"a47b15651b8f951d","type":"link out","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"link out 1","mode":"link","links":["e49083c6902d3767","e7e8f489937dbba1","0699a19874885328","40e49f61f0a39d52","0ae92c67e5f6cc98","7122d327c6d82dd5","6a0d75758106019e","6097c3b2fb8edfb9"],"x":565,"y":260,"wires":[]},{"id":"e49083c6902d3767","type":"link in","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"link in 1","links":["a47b15651b8f951d"],"x":655,"y":260,"wires":[["cf06f2934aa6578a"]]},{"id":"e6d3ac9252f1aa07","type":"inject","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"Low","props":[{"p":"payload"},{"p":"topic","v":"low","vt":"flow"},{"p":"windSpeed","v":"15","vt":"num"},{"p":"barometric","v":"20","vt":"num"},{"p":"windDirection","v":"110","vt":"num"},{"p":"rain","v":"5","vt":"num"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":240,"wires":[["a47b15651b8f951d"]]},{"id":"974c8fc80b1f1176","type":"inject","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"Moderate","props":[{"p":"payload"},{"p":"topic","v":"moderate","vt":"flow"},{"p":"windSpeed","v":"20","vt":"num"},{"p":"barometric","v":"20","vt":"num"},{"p":"windDirection","v":"140","vt":"num"},{"p":"rain","v":"3","vt":"num"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":280,"wires":[["a47b15651b8f951d"]]},{"id":"d50a98b47072037d","type":"inject","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"High","props":[{"p":"payload"},{"p":"topic","v":"high","vt":"flow"},{"p":"windSpeed","v":"25","vt":"num"},{"p":"barometric","v":"20","vt":"num"},{"p":"windDirection","v":"200","vt":"num"},{"p":"rain","v":"0","vt":"num"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":320,"wires":[["a47b15651b8f951d"]]},{"id":"79ad86aebd47f02e","type":"inject","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"Very High","props":[{"p":"payload"},{"p":"topic","v":"vHigh","vt":"flow"},{"p":"windSpeed","v":"30","vt":"num"},{"p":"barometric","v":"20","vt":"num"},{"p":"windDirection","v":"360","vt":"num"},{"p":"rain","v":"0","vt":"num"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":360,"wires":[["a47b15651b8f951d"]]},{"id":"fce76f9d49e0ff09","type":"inject","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"Very Low","props":[{"p":"payload"},{"p":"topic","v":"vlow","vt":"flow"},{"p":"windSpeed","v":"5","vt":"num"},{"p":"barometric","v":"20","vt":"num"},{"p":"windDirection","v":"100","vt":"num"},{"p":"rain","v":"10","vt":"num"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":200,"wires":[["a47b15651b8f951d"]]},{"id":"ff4ab2435609efe3","type":"ui_button","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"","group":"6a9c9282d231d3ab","order":1,"width":2,"height":1,"passthru":true,"label":"Very Low","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"vlow","payloadType":"flow","topic":"topic","topicType":"msg","x":820,"y":380,"wires":[["d67634a84feae65a"]]},{"id":"c57d71eb16ec78ae","type":"switch","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":500,"wires":[["9a842f9f8b5796eb"],["163e2663ae4c1201"]]},{"id":"163e2663ae4c1201","type":"change","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"start","rules":[{"t":"set","p":"low","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":540,"wires":[["7b2c1391d04a704b"]]},{"id":"a1ea08b78e940f15","type":"change","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"set state of button","rules":[{"t":"set","p":"low","pt":"flow","to":"true","tot":"bool","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":500,"wires":[["1a3afed396158b84"]]},{"id":"1a3afed396158b84","type":"ui_button","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"","group":"6a9c9282d231d3ab","order":3,"width":2,"height":1,"passthru":true,"label":"Low","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"low","payloadType":"flow","topic":"topic","topicType":"msg","x":810,"y":500,"wires":[["c57d71eb16ec78ae"]]},{"id":"7abcb1cc7b215662","type":"switch","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":620,"wires":[["6105db341f8a5664"],["42c99e196194923d"]]},{"id":"42c99e196194923d","type":"change","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"start","rules":[{"t":"set","p":"moderate","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":660,"wires":[["920ac149c9a98e5e"]]},{"id":"99b05f93b7daee47","type":"change","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"set state of button","rules":[{"t":"set","p":"moderate","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":620,"wires":[["8d5886c4f358335c"]]},{"id":"8d5886c4f358335c","type":"ui_button","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"","group":"6a9c9282d231d3ab","order":5,"width":2,"height":1,"passthru":true,"label":"Moderate","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"moderate","payloadType":"flow","topic":"topic","topicType":"msg","x":820,"y":620,"wires":[["7abcb1cc7b215662"]]},{"id":"dbbc990805038d35","type":"switch","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":740,"wires":[["3b8277beb0f6b28a"],["50ca93d8a0f4a3c6"]]},{"id":"50ca93d8a0f4a3c6","type":"change","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"start","rules":[{"t":"set","p":"high","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":780,"wires":[["d6c8084b6a0c65d2"]]},{"id":"f7ac4a18e46be62c","type":"change","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"set state of button","rules":[{"t":"set","p":"high","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":740,"wires":[["d675e3a65404667e"]]},{"id":"d675e3a65404667e","type":"ui_button","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"","group":"6a9c9282d231d3ab","order":9,"width":2,"height":1,"passthru":true,"label":"High","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"high","payloadType":"flow","topic":"topic","topicType":"msg","x":810,"y":740,"wires":[["dbbc990805038d35"]]},{"id":"ed195a145a0a2c8d","type":"switch","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":860,"wires":[["69dc5374c7876135"],["73e8a4cb9cc63979"]]},{"id":"73e8a4cb9cc63979","type":"change","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"start","rules":[{"t":"set","p":"vHigh","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":900,"wires":[["0decd561391fe2b6"]]},{"id":"4fdcdb0cc665fdf9","type":"change","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"set state of button","rules":[{"t":"set","p":"vHigh","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":860,"wires":[["a4a42556f6e97d9a"]]},{"id":"a4a42556f6e97d9a","type":"ui_button","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"","group":"6a9c9282d231d3ab","order":7,"width":2,"height":1,"passthru":true,"label":"Very High","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"vHigh","payloadType":"flow","topic":"topic","topicType":"msg","x":820,"y":860,"wires":[["ed195a145a0a2c8d"]]},{"id":"9a842f9f8b5796eb","type":"change","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"vlow","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"low","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"moderate","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"high","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"vHigh","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":460,"wires":[["7b2c1391d04a704b"]]},{"id":"6105db341f8a5664","type":"change","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"vlow","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"low","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"moderate","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"high","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"vHigh","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":580,"wires":[["920ac149c9a98e5e"]]},{"id":"3b8277beb0f6b28a","type":"change","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"vlow","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"low","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"moderate","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"high","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"vHigh","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":700,"wires":[["d6c8084b6a0c65d2"]]},{"id":"69dc5374c7876135","type":"change","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"vlow","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"low","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"moderate","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"high","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"vHigh","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":820,"wires":[["0decd561391fe2b6"]]},{"id":"e324fa1e7f6e0bb2","type":"json","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"","property":"payload","action":"","pretty":false,"x":930,"y":260,"wires":[["534fd2b4506d9d9d"]]},{"id":"534fd2b4506d9d9d","type":"mqtt out","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"","topic":"forest/iot/simulation","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"64ebfcdfc44fcd46","x":1120,"y":260,"wires":[]},{"id":"cf06f2934aa6578a","type":"function","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","name":"IoT Sensors","func":"// var temperature, humidity, windSpeed, barometric;\n// var co2, windDirection, rainfall;\nvar forestObj = {};\n\nfunction getRandomInt(min, max) {\n\treturn Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nif (msg.topic) {\n\n\tforestObj = {\n\t\t//\"temperature\": msg.temperature + getRandomInt(-1, 1),\n\t\t//\"humidity\": msg.humidity + getRandomInt(-1, 1),\n\t\t\"windSpeed\": msg.windSpeed + getRandomInt(-1, 1),\n\t\t\"barometric\": msg.barometric + getRandomInt(-1, 1),\n\t\t//\"co2\": msg.carbonDioxine + getRandomInt(-1, 1),\n\t\t\"windDirection\": msg.windDirection,\n\t\t\"rainfall\": msg.rain + getRandomInt(-1, 1)\t\n\t};\n\n\tmsg.payload = forestObj;\n\treturn msg;\n\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":260,"wires":[["e324fa1e7f6e0bb2"]]},{"id":"b99bf6690be95252","type":"ui_led","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","order":2,"group":"6a9c9282d231d3ab","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1110,"y":380,"wires":[]},{"id":"7b2c1391d04a704b","type":"ui_led","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","order":4,"group":"6a9c9282d231d3ab","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1110,"y":500,"wires":[]},{"id":"920ac149c9a98e5e","type":"ui_led","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","order":6,"group":"6a9c9282d231d3ab","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1110,"y":620,"wires":[]},{"id":"d6c8084b6a0c65d2","type":"ui_led","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","order":10,"group":"6a9c9282d231d3ab","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1110,"y":740,"wires":[]},{"id":"0decd561391fe2b6","type":"ui_led","z":"45a27c13dc50feef","g":"704f7bd4f0387da2","order":8,"group":"6a9c9282d231d3ab","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1110,"y":860,"wires":[]},{"id":"f2f3ca9686477540","type":"ui_gauge","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"","group":"23d33400bcb95372","order":12,"width":4,"height":4,"gtype":"wave","title":"Barometric Pressure","label":"inHg","format":"{{msg.payload.barometric}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":500,"y":460,"wires":[]},{"id":"5684f7da73daa882","type":"ui_gauge","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"","group":"7be8d158b0070434","order":12,"width":4,"height":4,"gtype":"donut","title":"Humidity","label":"%","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#40d908","#e6e600","#ca3838"],"seg1":"35","seg2":"70","diff":false,"className":"","x":460,"y":220,"wires":[]},{"id":"fdb8636bec1df296","type":"ui_gauge","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"","group":"64483a0ae6f0d624","order":2,"width":4,"height":4,"gtype":"donut","title":"Wind Speed","label":"m/s","format":"{{msg.payload.windSpeed}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"150","className":"","x":470,"y":340,"wires":[]},{"id":"97c311525841e190","type":"ui_gauge","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"","group":"5713b076e489f026","order":12,"width":4,"height":4,"gtype":"compass","title":"Wind Direction","label":"","format":"{{msg.payload.windDirection}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":480,"y":660,"wires":[]},{"id":"5df8d844a1f139b6","type":"ui_gauge","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"","group":"7be8d158b0070434","order":2,"width":4,"height":4,"gtype":"donut","title":"Temperature","label":"degree","format":"{{msg.payload.temperature | number:2}}","min":"-20","max":"50","colors":["#00ccff","#00e61b","#fa8500"],"seg1":"15","seg2":"25","diff":false,"className":"","x":470,"y":100,"wires":[]},{"id":"73a7e7e509eb3a1e","type":"ui_chart","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"","group":"7be8d158b0070434","order":20,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":610,"y":180,"wires":[[]]},{"id":"59f1804470b95ae3","type":"ui_chart","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"","group":"64483a0ae6f0d624","order":10,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":610,"y":300,"wires":[[]]},{"id":"2dbbd235ef307094","type":"ui_chart","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"","group":"7be8d158b0070434","order":10,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-20","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":610,"y":60,"wires":[[]]},{"id":"1b2dac1f85dc4ad7","type":"debug","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.temperature","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":140,"wires":[]},{"id":"76bd080454bafbeb","type":"debug","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.barometric","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":500,"wires":[]},{"id":"4f31891091cce835","type":"debug","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.humidity","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":260,"wires":[]},{"id":"8e088d2c2e8e5808","type":"debug","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.windSpeed","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":380,"wires":[]},{"id":"2a2df3a95412fabb","type":"ui_gauge","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"","group":"23d33400bcb95372","order":2,"width":4,"height":4,"gtype":"wave","title":"CO2","label":"PPM","format":"{{msg.payload.co2}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":450,"y":580,"wires":[]},{"id":"5b98d7825372be37","type":"ui_chart","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"","group":"23d33400bcb95372","order":10,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":610,"y":540,"wires":[[]]},{"id":"3838260f91d3a038","type":"debug","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.co2","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":620,"wires":[]},{"id":"1b8490fafc068972","type":"ui_gauge","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"","group":"5713b076e489f026","order":2,"width":4,"height":4,"gtype":"wave","title":"Rainfall","label":"mm","format":"{{msg.payload.rainfall}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":460,"y":740,"wires":[]},{"id":"269fdd65081a9765","type":"ui_chart","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"","group":"5713b076e489f026","order":10,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":610,"y":700,"wires":[[]]},{"id":"02fd80524b7064ba","type":"ui_chart","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"","group":"23d33400bcb95372","order":20,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":610,"y":420,"wires":[[]]},{"id":"cacf600beb13c0ea","type":"link out","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"link out 3","mode":"link","links":["1ef2eb0ab5be7aa9","a4338c563cf2569d","523a8f1075f11445"],"x":255,"y":460,"wires":[]},{"id":"1ef2eb0ab5be7aa9","type":"link in","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"link in 11","links":["cacf600beb13c0ea","97cb1dfb50cd0114","b4c7db9b8a61acf1"],"x":335,"y":100,"wires":[["5df8d844a1f139b6","1b2dac1f85dc4ad7","3687a21b67f478a5"]]},{"id":"48875349f035a211","type":"mqtt in","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"","topic":"forest/iot/sensors","qos":"2","datatype":"auto-detect","broker":"64ebfcdfc44fcd46","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":460,"wires":[["cacf600beb13c0ea","e18de8dffdd24043"]]},{"id":"a4338c563cf2569d","type":"link in","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"link in 12","links":["cacf600beb13c0ea","97cb1dfb50cd0114","b4c7db9b8a61acf1"],"x":335,"y":220,"wires":[["5684f7da73daa882","4f31891091cce835","da280850a53a72af"]]},{"id":"11efe6d627998f2a","type":"link in","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"link in 13","links":["97cb1dfb50cd0114","b4c7db9b8a61acf1","0e0af757e1302d4f"],"x":335,"y":340,"wires":[["fdb8636bec1df296","8e088d2c2e8e5808","e1cfd7f33a20f25e"]]},{"id":"6f6f9180cea13b29","type":"link in","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"link in 14","links":["97cb1dfb50cd0114","b4c7db9b8a61acf1","0e0af757e1302d4f"],"x":335,"y":460,"wires":[["f2f3ca9686477540","76bd080454bafbeb","c246a2facc600711"]]},{"id":"523a8f1075f11445","type":"link in","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"link in 15","links":["cacf600beb13c0ea","97cb1dfb50cd0114","b4c7db9b8a61acf1"],"x":335,"y":580,"wires":[["2a2df3a95412fabb","3838260f91d3a038","b530fe5f1a4a0865"]]},{"id":"4a428724f8fae850","type":"link in","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"link in 16","links":["97cb1dfb50cd0114","b4c7db9b8a61acf1","0e0af757e1302d4f"],"x":335,"y":660,"wires":[["97c311525841e190"]]},{"id":"fe37c5970a963bc9","type":"link in","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"link in 17","links":["97cb1dfb50cd0114","b4c7db9b8a61acf1","0e0af757e1302d4f"],"x":335,"y":740,"wires":[["1b8490fafc068972","e2df7153bb6ff427","e775ce3e986c9a8a"]]},{"id":"da280850a53a72af","type":"function","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"humidity","func":"msg.payload = msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":180,"wires":[["73a7e7e509eb3a1e"]]},{"id":"3687a21b67f478a5","type":"function","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"temperature","func":"msg.payload = parseInt(msg.payload.temperature).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":60,"wires":[["2dbbd235ef307094"]]},{"id":"e1cfd7f33a20f25e","type":"function","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"windSpeed","func":"msg.payload = msg.payload.windSpeed;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":300,"wires":[["59f1804470b95ae3"]]},{"id":"c246a2facc600711","type":"function","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"barometric","func":"msg.payload = msg.payload.barometric;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":420,"wires":[["02fd80524b7064ba"]]},{"id":"b530fe5f1a4a0865","type":"function","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"co2","func":"msg.payload = msg.payload.co2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":540,"wires":[["5b98d7825372be37"]]},{"id":"e2df7153bb6ff427","type":"function","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"rain","func":"msg.payload = msg.payload.rainfall;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":700,"wires":[["269fdd65081a9765"]]},{"id":"e775ce3e986c9a8a","type":"debug","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.rainfall","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":780,"wires":[]},{"id":"44e635dd73b4b48b","type":"debug","z":"d0cef6fef362f428","g":"33351e452b0edfde","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1030,"y":60,"wires":[]},{"id":"4dc7b66d4e8c725f","type":"mqtt in","z":"d0cef6fef362f428","g":"10ead886a340f5f8","name":"","topic":"forest/iot/fire","qos":"2","datatype":"auto-detect","broker":"64ebfcdfc44fcd46","nl":false,"rap":true,"rh":0,"inputs":0,"x":830,"y":380,"wires":[["c37287a698df3b5a"]]},{"id":"031f3d1fcc5acb52","type":"ros-publish","z":"d0cef6fef362f428","g":"10ead886a340f5f8","server":"16956efe04a47409","topicname":"/drone/fire/gps","msgtype":"sensor_msgs/NavSatFix","x":1220,"y":380,"wires":[]},{"id":"c37287a698df3b5a","type":"function","z":"d0cef6fef362f428","g":"10ead886a340f5f8","name":"fire coordinates","func":"var latlonjson = {};\n\nlatlonjson = {\n    \"header\": {\n        \"seq\": 0,\n        \"stamp\": {\n            \"secs\": 0,\n            \"nsecs\": 0\n        },\n        \"frame_id\": \"\"\n    },\n    \"status\": {\n        \"status\": 0,\n        \"service\": 0\n    },\n    \"latitude\": parseFloat(msg.payload.position[0]),\n    \"longitude\": parseFloat(msg.payload.position[1]),\n    \"altitude\": 0,\n    \"position_covariance\": [\n        0,\n        0,\n        0,\n        0,\n        0,\n        0,\n        0,\n        0,\n        0\n    ],\n    \"position_covariance_type\": 0\n};\n\nmsg.payload = latlonjson;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":380,"wires":[["ea86fc070c0e3615","031f3d1fcc5acb52"]]},{"id":"dd3bcb3c7b9c0813","type":"debug","z":"d0cef6fef362f428","g":"4ba02815719bb1b1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.latitude","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":600,"wires":[]},{"id":"ea86fc070c0e3615","type":"debug","z":"d0cef6fef362f428","g":"10ead886a340f5f8","name":"debug 27","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1200,"y":440,"wires":[]},{"id":"98450be0e7abec43","type":"ros-subscribe","z":"d0cef6fef362f428","g":"4ba02815719bb1b1","server":"16956efe04a47409","topicname":"/drone/fire/gps","x":860,"y":600,"wires":[["dd3bcb3c7b9c0813"]]},{"id":"0634c97f352eb812","type":"ros-subscribe","z":"d0cef6fef362f428","g":"33351e452b0edfde","server":"16956efe04a47409","topicname":"/fire/status","x":820,"y":100,"wires":[["4d2ae648d6ddc521","44e635dd73b4b48b"]]},{"id":"32778735d4387135","type":"mqtt out","z":"d0cef6fef362f428","g":"33351e452b0edfde","name":"","topic":"forest/iot/status","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"64ebfcdfc44fcd46","x":1220,"y":100,"wires":[]},{"id":"e18de8dffdd24043","type":"debug","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"debug 28","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":140,"y":540,"wires":[]},{"id":"f6858df0c4dab723","type":"mqtt in","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"","topic":"forest/iot/simulation","qos":"2","datatype":"auto-detect","broker":"64ebfcdfc44fcd46","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":400,"wires":[["0e0af757e1302d4f"]]},{"id":"0e0af757e1302d4f","type":"link out","z":"d0cef6fef362f428","g":"b8be345bd97c52a2","name":"link out 4","mode":"link","links":["11efe6d627998f2a","6f6f9180cea13b29","4a428724f8fae850","fe37c5970a963bc9"],"x":255,"y":400,"wires":[]},{"id":"4d930d2abc7a81f5","type":"ros-publish","z":"d0cef6fef362f428","g":"4ba02815719bb1b1","server":"16956efe04a47409","topicname":"/drone/fire/status","msgtype":"std_msgs/String","x":1210,"y":660,"wires":[]},{"id":"e74c66cbad6a18ef","type":"inject","z":"d0cef6fef362f428","g":"4ba02815719bb1b1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":840,"y":660,"wires":[["91d755360a284785"]]},{"id":"4d2ae648d6ddc521","type":"function","z":"d0cef6fef362f428","g":"33351e452b0edfde","name":"fire status","func":"const obj = JSON.parse(msg.payload.data)\n\nif (obj.sensor == \"FIRE_OFF\") {\n    msg.payload = {\n        \"sensor\": obj.sensor,\n        \"latitude\": obj.latitude,\n        \"longitude\": obj.longitude\n    };\n}\nelse if (obj.sensor == \"FIRE_ON\") {\n    msg.payload = {\n        \"sensor\": obj.sensor,\n        \"latitude\": obj.latitude,\n        \"longitude\": obj.longitude\n    };\n}\n \nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":100,"wires":[["32778735d4387135","e67a74d69086d81a"]]},{"id":"e67a74d69086d81a","type":"debug","z":"d0cef6fef362f428","g":"33351e452b0edfde","name":"debug 29","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1200,"y":60,"wires":[]},{"id":"91d755360a284785","type":"function","z":"d0cef6fef362f428","g":"4ba02815719bb1b1","name":"fire data","func":"const json_data = { \"sensor\": \"FIRE_OFF\", \"latitude\": 40.825631, \"longitude\": 15.2745381 };\nconst json_string = JSON.stringify(json_data);\n\nmsg.payload = {\n    \"data\": json_string\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":660,"wires":[[]]},{"id":"3e1a5bc79840e628","type":"mqtt in","z":"d0cef6fef362f428","g":"161f6153c22c032c","name":"","topic":"forest/iot/fire","qos":"2","datatype":"auto-detect","broker":"64ebfcdfc44fcd46","nl":false,"rap":true,"rh":0,"inputs":0,"x":830,"y":280,"wires":[["08213876283c5bf9"]]},{"id":"08213876283c5bf9","type":"function","z":"d0cef6fef362f428","g":"161f6153c22c032c","name":"fire switch","func":"if (msg.topic == \"forest/iot/fire\"){\n    if (msg.payload.sensor == \"FIRE_ON\") {\n        msg.payload = \"FIRE DETECTED\";\n    }\n}\nelse {\n    const obj = JSON.parse(msg.payload.data)\n    if (obj.sensor == \"FIRE_OFF\") {\n        msg.payload = \"FIRE EXTINGUISHED\";\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":240,"wires":[["5928bffb75305243","cbc8145d1a35b20a","0faea2eb9b8fe285"]]},{"id":"0faea2eb9b8fe285","type":"debug","z":"d0cef6fef362f428","g":"161f6153c22c032c","name":"debug 30","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1200,"y":200,"wires":[]},{"id":"cbc8145d1a35b20a","type":"ui_led","z":"d0cef6fef362f428","g":"161f6153c22c032c","order":13,"group":"6a9c9282d231d3ab","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"FIRE DETECTED","valueType":"str"},{"color":"#808080","value":"FIRE EXTINGUISHED","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1190,"y":240,"wires":[]},{"id":"5928bffb75305243","type":"ui_text","z":"d0cef6fef362f428","g":"161f6153c22c032c","group":"6a9c9282d231d3ab","order":12,"width":5,"height":1,"name":"","label":"ALERT: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":1200,"y":280,"wires":[]},{"id":"64fb0f94140ebcba","type":"ros-subscribe","z":"d0cef6fef362f428","g":"161f6153c22c032c","server":"16956efe04a47409","topicname":"/fire/status","x":820,"y":220,"wires":[["08213876283c5bf9"]]},{"id":"ebb636617b56996d","type":"ui_button","z":"d0cef6fef362f428","g":"10ead886a340f5f8","name":"","group":"6a9c9282d231d3ab","order":11,"width":3,"height":1,"passthru":false,"label":"FIRE","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":830,"y":480,"wires":[["c3204bb701cf8a0d"]]},{"id":"c3204bb701cf8a0d","type":"function","z":"d0cef6fef362f428","g":"10ead886a340f5f8","name":"fire_simulated","func":"msg.payload = {\n    \"header\": {\n        \"seq\": 0,\n            \"stamp\": {\n            \"secs\": 0,\n                \"nsecs\": 0\n        },\n        \"frame_id\": \"\"\n    },\n    \"status\": {\n        \"status\": 0,\n            \"service\": 0\n    },\n    \"latitude\": 40.8255861,\n        \"longitude\": 15.2745381,\n            \"altitude\": 0,\n                \"position_covariance\": [\n                    0,\n                    0,\n                    0,\n                    0,\n                    0,\n                    0,\n                    0,\n                    0,\n                    0\n                ],\n                    \"position_covariance_type\": 0\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":480,"wires":[["5d869ad3940bd317","031f3d1fcc5acb52"]]},{"id":"5d869ad3940bd317","type":"debug","z":"d0cef6fef362f428","g":"10ead886a340f5f8","name":"debug 32","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1200,"y":480,"wires":[]},{"id":"1262dab87f62aef5","type":"function","z":"ddc83c3f84d60c8e","g":"b28420e697d371b3","name":"Battery","func":"var current = { payload: msg.payload.current};\nvar remaining = { payload: msg.payload.remaining * 100 };\nvar voltage = { payload: msg.payload.voltage };\nreturn [current, remaining, voltage];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":440,"wires":[["63abface34c3623c"],["689e741e70c424e8"],["6dd7a0f67ac53ed4"]]},{"id":"a728c35a.c1429","type":"template","z":"ddc83c3f84d60c8e","g":"d43015cf93e31ca6","name":"Add Map to Dashboard","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload.url}}} height=750px width=1000px ></iframe>","x":1210,"y":980,"wires":[["347e393a.d67736"]]},{"id":"ad2c3d03.9a2be","type":"function","z":"ddc83c3f84d60c8e","g":"d43015cf93e31ca6","name":"Inject /worldmap","func":"msg.payload =   {\n                url : \"/worldmap\",\n                command : {\n                        layer:\"Esri Satellite\",\n                        lat:40.825599,\n                        lon:15.274523,\n                        zoom:3,\n                        map: { name: \"Esri Satellite\" },\n                        addtoheatmap:true, \n                        autopan:true\n                        }\n                };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":1040,"wires":[["a728c35a.c1429"]]},{"id":"dd2e157f9b3b3633","type":"function","z":"ddc83c3f84d60c8e","g":"1e9e595034b50399","name":"function 1","func":"let latitude = flow.get(\"latitude\");\nlet longitude = flow.get(\"longitude\");\n\nmsg.payload = { \"message\": \"success\", \"drone_position\": { \"latitude\": latitude, \"longitude\": longitude }, \"timestamp\": 1662468782 }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1020,"wires":[["540cc34e57fe4e9c","70b186293714632b"]]},{"id":"540cc34e57fe4e9c","type":"debug","z":"ddc83c3f84d60c8e","g":"1e9e595034b50399","name":"debug 11","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":980,"wires":[]},{"id":"3ce3f08385b6576e","type":"change","z":"ddc83c3f84d60c8e","g":"1e9e595034b50399","name":"","rules":[{"t":"set","p":"latitude","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1000,"wires":[["dd2e157f9b3b3633"]]},{"id":"c8861086751bc030","type":"change","z":"ddc83c3f84d60c8e","g":"1e9e595034b50399","name":"","rules":[{"t":"set","p":"longitude","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1040,"wires":[["dd2e157f9b3b3633"]]},{"id":"3499e2ee1c3f3658","type":"ui_slider","z":"ddc83c3f84d60c8e","g":"1e9e595034b50399","name":"","label":"latitude","tooltip":"","group":"da198ebcdac65495","order":2,"width":5,"height":1,"passthru":true,"outs":"all","topic":"latitude","topicType":"flow","min":"-90","max":"90","step":"0.00001","className":"","x":120,"y":1000,"wires":[["3ce3f08385b6576e"]]},{"id":"12958aa28db59c03","type":"ui_slider","z":"ddc83c3f84d60c8e","g":"1e9e595034b50399","name":"","label":"longitude","tooltip":"","group":"da198ebcdac65495","order":3,"width":6,"height":1,"passthru":true,"outs":"all","topic":"longitude","topicType":"flow","min":"-180","max":"180","step":"0.00001","className":"","x":120,"y":1040,"wires":[["c8861086751bc030"]]},{"id":"347e393a.d67736","type":"ui_template","z":"ddc83c3f84d60c8e","g":"d43015cf93e31ca6","group":"da198ebcdac65495","name":"Embedded Map","order":1,"width":20,"height":15,"format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1240,"y":1040,"wires":[[]]},{"id":"8ece3f8d262cb9f9","type":"ui_text","z":"ddc83c3f84d60c8e","g":"cc5e9a2b3b3676ad","group":"1a1025cba07f5f42","order":4,"width":5,"height":1,"name":"","label":"Drone Connection Status: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":570,"y":60,"wires":[]},{"id":"4c85c3eab159475b","type":"ui_text","z":"ddc83c3f84d60c8e","g":"c658abe598d1e37b","group":"1a1025cba07f5f42","order":19,"width":5,"height":1,"name":"","label":"Altitude:","format":"{{msg.payload}}","layout":"row-left","className":"","x":1260,"y":500,"wires":[]},{"id":"464462086cf2ae5a","type":"ui_text","z":"ddc83c3f84d60c8e","g":"d5e6a9e93969b044","group":"1a1025cba07f5f42","order":31,"width":5,"height":1,"name":"","label":"Latitude: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":480,"y":640,"wires":[]},{"id":"f466bc4cde70184c","type":"ui_text","z":"ddc83c3f84d60c8e","g":"afd09766af2a7cdb","group":"1a1025cba07f5f42","order":6,"width":6,"height":1,"name":"","label":"Temperature IMU:","format":"{{msg.payload}}","layout":"row-left","className":"","x":1390,"y":60,"wires":[]},{"id":"63abface34c3623c","type":"ui_gauge","z":"ddc83c3f84d60c8e","g":"b28420e697d371b3","name":"","group":"1a1025cba07f5f42","order":2,"width":4,"height":4,"gtype":"gage","title":"Battery Current","label":"%","format":"{{value  | number:1}}","min":0,"max":"100","colors":["#b30000","#e6e600","#00b500"],"seg1":"50","seg2":"70","diff":false,"className":"","x":560,"y":400,"wires":[]},{"id":"6dd7a0f67ac53ed4","type":"ui_gauge","z":"ddc83c3f84d60c8e","g":"b28420e697d371b3","name":"","group":"1a1025cba07f5f42","order":1,"width":4,"height":4,"gtype":"gage","title":"Battery Voltage","label":"V","format":"{{value  | number:1}}","min":0,"max":"100","colors":["#b30000","#e6e600","#00b500"],"seg1":"50","seg2":"70","diff":false,"className":"","x":560,"y":480,"wires":[]},{"id":"186277c313c20204","type":"ui_text","z":"ddc83c3f84d60c8e","g":"d5e6a9e93969b044","group":"1a1025cba07f5f42","order":29,"width":5,"height":1,"name":"","label":"Longitude: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":490,"y":720,"wires":[]},{"id":"9d956b94c2b83daa","type":"ui_text","z":"ddc83c3f84d60c8e","g":"2e5854a477d5c6cb","group":"1a1025cba07f5f42","order":35,"width":5,"height":1,"name":"","label":"Relative altitude: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":1430,"y":200,"wires":[]},{"id":"e13a29549b9d0a60","type":"ui_text","z":"ddc83c3f84d60c8e","g":"c658abe598d1e37b","group":"1a1025cba07f5f42","order":21,"width":6,"height":1,"name":"","label":"Climb:","format":"{{msg.payload}}","layout":"row-left","className":"","x":1250,"y":540,"wires":[]},{"id":"8677c8dcb5bc715f","type":"ui_text","z":"ddc83c3f84d60c8e","g":"c658abe598d1e37b","group":"1a1025cba07f5f42","order":9,"width":6,"height":1,"name":"","label":"Airspeed:","format":"{{msg.payload}}","layout":"row-left","className":"","x":1260,"y":340,"wires":[]},{"id":"0ec5f752fb113e7d","type":"ui_text","z":"ddc83c3f84d60c8e","g":"c658abe598d1e37b","group":"1a1025cba07f5f42","order":15,"width":6,"height":1,"name":"","label":"Groundspeed:","format":"{{msg.payload}}","layout":"row-left","className":"","x":1280,"y":380,"wires":[]},{"id":"6137ecb8502301fe","type":"ui_text","z":"ddc83c3f84d60c8e","g":"c658abe598d1e37b","group":"1a1025cba07f5f42","order":12,"width":6,"height":1,"name":"","label":"Heading:","format":"{{msg.payload}}","layout":"row-left","className":"","x":1260,"y":420,"wires":[]},{"id":"161c11ee64331cac","type":"ui_text","z":"ddc83c3f84d60c8e","g":"c658abe598d1e37b","group":"1a1025cba07f5f42","order":18,"width":6,"height":1,"name":"","label":"Throttle:","format":"{{msg.payload}}","layout":"row-left","className":"","x":1260,"y":460,"wires":[]},{"id":"88797856.1dede8","type":"function","z":"ddc83c3f84d60c8e","g":"d5e6a9e93969b044","name":"Extract Coordinate","func":"//var iss_location = msg.payload.iss_position;\n //let latitude = { payload: parseFloat(msg.payload.position_latitude).toFixed(3) };\n //let longitude = { payload: parseFloat(msg.payload.position_longitude).toFixed(3) };\n let latitude = flow.get(\"latitude\");\n let longitude = flow.get(\"longitude\");\n\nmsg.payload = { \n        name : \"Drone\",\n        lat  : latitude,\n        lon  : longitude,\n        icon:\"uav\",\n        //icon: \"fa- solid fa - shuttle - space\",\n        iconColor:'#900000',\n        //command : { \"zoom\" : 3 }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":720,"wires":[["ce09ee81.f288b","d9bb1570.f3c058"]]},{"id":"c7e81206d37a529a","type":"change","z":"ddc83c3f84d60c8e","g":"d5e6a9e93969b044","name":"","rules":[{"t":"set","p":"latitude","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":680,"wires":[["88797856.1dede8"]]},{"id":"84cb9cc779da0fbf","type":"change","z":"ddc83c3f84d60c8e","g":"d5e6a9e93969b044","name":"","rules":[{"t":"set","p":"longitude","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":760,"wires":[["88797856.1dede8"]]},{"id":"70b186293714632b","type":"link out","z":"ddc83c3f84d60c8e","g":"1e9e595034b50399","name":"link out 2","mode":"link","links":["e6e2b9f573f9164c"],"x":665,"y":1020,"wires":[]},{"id":"e6e2b9f573f9164c","type":"link in","z":"ddc83c3f84d60c8e","g":"d5e6a9e93969b044","name":"link in 10","links":["70b186293714632b"],"x":635,"y":780,"wires":[["88797856.1dede8"]]},{"id":"5eb0b87a2165abb0","type":"function","z":"ddc83c3f84d60c8e","g":"cc5e9a2b3b3676ad","name":"State","func":"var connected = { payload: msg.payload.connected };\nvar armed = { payload: msg.payload.armed };\nvar guided = { payload: msg.payload.guided };\nvar manual_input = { payload: msg.payload.manual_input };\nvar mode = { payload: msg.payload.mode };\nvar system_status = { payload: msg.payload.system_status };\n\nreturn [connected, armed, guided, manual_input, mode, system_status];","outputs":6,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":160,"wires":[["8ece3f8d262cb9f9"],["5eb481fb214fcc4d"],["0a1bd2931433318a"],["a6f7cd4569f97520"],["fecb0fd50cd8666c"],["db7f2188b4fe9fa5"]]},{"id":"9479465b.ea08c8","type":"inject","z":"ddc83c3f84d60c8e","g":"d43015cf93e31ca6","name":"Init WorldMap","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"true","payloadType":"bool","x":920,"y":980,"wires":[["ad2c3d03.9a2be"]]},{"id":"ce09ee81.f288b","type":"worldmap","z":"ddc83c3f84d60c8e","g":"d5e6a9e93969b044","name":"","lat":"","lon":"","zoom":"","layer":"EsriS","cluster":"3","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"true","allowFileDrop":"true","path":"","overlist":"DR,CO,RA,DN,BU,RW,SN,AC,TL,HM","maplist":"OSMG,OSMC,OSMH,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop,HB,AN,ST,SW","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":730,"y":660,"wires":[]},{"id":"d9bb1570.f3c058","type":"worldmap-tracks","z":"ddc83c3f84d60c8e","g":"d5e6a9e93969b044","name":"","depth":"20","smooth":true,"x":930,"y":720,"wires":[["ce09ee81.f288b"]]},{"id":"625e50f7dd4d051a","type":"ros-subscribe","z":"ddc83c3f84d60c8e","g":"2e5854a477d5c6cb","server":"16956efe04a47409","topicname":"/mavros/altitude","x":860,"y":200,"wires":[["37cbaac26f532e94","b208d6215d30df09"]]},{"id":"b208d6215d30df09","type":"debug","z":"ddc83c3f84d60c8e","g":"2e5854a477d5c6cb","name":"debug 15","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1200,"y":240,"wires":[]},{"id":"37cbaac26f532e94","type":"function","z":"ddc83c3f84d60c8e","g":"2e5854a477d5c6cb","name":"Altitude","func":"var altitude = { payload: parseFloat(msg.payload.relative).toFixed(1) };\nreturn [altitude];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":200,"wires":[["9d956b94c2b83daa"]]},{"id":"fbf5e76cc121ca05","type":"ros-subscribe","z":"ddc83c3f84d60c8e","g":"d5e6a9e93969b044","server":"16956efe04a47409","topicname":"/mavros/global_position/global","x":190,"y":700,"wires":[["adb73f09a6554e29","2a814d06504991a7"]]},{"id":"adb73f09a6554e29","type":"function","z":"ddc83c3f84d60c8e","g":"d5e6a9e93969b044","name":"GPS","func":"var latitude = { payload: parseFloat(msg.payload.latitude).toFixed(7) };\nvar longitude = { payload: parseFloat(msg.payload.longitude).toFixed(7) };\nvar service = { payload: parseInt(msg.payload.status.service) };\nvar status = { payload: parseInt(msg.payload.status.status) };\nvar altitude = { payload: parseFloat(msg.payload.altitude).toFixed(0) };\n\nreturn [latitude, longitude, service, status, altitude];\n","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":780,"wires":[["464462086cf2ae5a","c7e81206d37a529a"],["186277c313c20204","84cb9cc779da0fbf"],["237e1a767937f15a"],["993e830f8f34af5a"],["fd47513f93d90bde"]]},{"id":"2a814d06504991a7","type":"debug","z":"ddc83c3f84d60c8e","g":"d5e6a9e93969b044","name":"debug 17","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":260,"y":640,"wires":[]},{"id":"d515611ed6adf7c7","type":"ros-subscribe","z":"ddc83c3f84d60c8e","g":"b28420e697d371b3","server":"16956efe04a47409","topicname":"/mavros/battery","x":180,"y":440,"wires":[["1262dab87f62aef5","ca53de71b5f4292d"]]},{"id":"993e830f8f34af5a","type":"ui_text","z":"ddc83c3f84d60c8e","g":"d5e6a9e93969b044","group":"1a1025cba07f5f42","order":25,"width":5,"height":1,"name":"","label":"Status: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":480,"y":840,"wires":[]},{"id":"237e1a767937f15a","type":"ui_text","z":"ddc83c3f84d60c8e","g":"d5e6a9e93969b044","group":"1a1025cba07f5f42","order":27,"width":5,"height":1,"name":"","label":"Service: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":480,"y":800,"wires":[]},{"id":"fd47513f93d90bde","type":"ui_text","z":"ddc83c3f84d60c8e","g":"d5e6a9e93969b044","group":"1a1025cba07f5f42","order":33,"width":5,"height":1,"name":"","label":"Altitude: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":480,"y":880,"wires":[]},{"id":"ca53de71b5f4292d","type":"debug","z":"ddc83c3f84d60c8e","g":"b28420e697d371b3","name":"debug 23","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":360,"y":380,"wires":[]},{"id":"689e741e70c424e8","type":"ui_gauge","z":"ddc83c3f84d60c8e","g":"b28420e697d371b3","name":"","group":"1a1025cba07f5f42","order":3,"width":4,"height":4,"gtype":"gage","title":"Battery Remaining","label":"%","format":"{{value  | number:1}}","min":0,"max":"100","colors":["#b30000","#e6e600","#00b500"],"seg1":"50","seg2":"70","diff":false,"className":"","x":570,"y":440,"wires":[]},{"id":"35e5b5e7d20c20df","type":"ros-subscribe","z":"ddc83c3f84d60c8e","g":"cc5e9a2b3b3676ad","server":"16956efe04a47409","topicname":"/mavros/state","x":130,"y":160,"wires":[["5eb0b87a2165abb0","1e052ad82eb7b7ef"]]},{"id":"1e052ad82eb7b7ef","type":"debug","z":"ddc83c3f84d60c8e","g":"cc5e9a2b3b3676ad","name":"debug 24","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":300,"y":240,"wires":[]},{"id":"5eb481fb214fcc4d","type":"ui_text","z":"ddc83c3f84d60c8e","g":"cc5e9a2b3b3676ad","group":"1a1025cba07f5f42","order":22,"width":5,"height":1,"name":"","label":"Drone Armed Status: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":560,"y":100,"wires":[]},{"id":"0a1bd2931433318a","type":"ui_text","z":"ddc83c3f84d60c8e","g":"cc5e9a2b3b3676ad","group":"1a1025cba07f5f42","order":10,"width":5,"height":1,"name":"","label":"Drone Guided Status: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":560,"y":140,"wires":[]},{"id":"a6f7cd4569f97520","type":"ui_text","z":"ddc83c3f84d60c8e","g":"cc5e9a2b3b3676ad","group":"1a1025cba07f5f42","order":13,"width":5,"height":1,"name":"","label":"Drone Manual Input: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":560,"y":180,"wires":[]},{"id":"fecb0fd50cd8666c","type":"ui_text","z":"ddc83c3f84d60c8e","g":"cc5e9a2b3b3676ad","group":"1a1025cba07f5f42","order":7,"width":5,"height":1,"name":"","label":"Drone Mode: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":530,"y":220,"wires":[]},{"id":"db7f2188b4fe9fa5","type":"ui_text","z":"ddc83c3f84d60c8e","g":"cc5e9a2b3b3676ad","group":"1a1025cba07f5f42","order":16,"width":5,"height":1,"name":"","label":"Drone System Status: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":560,"y":260,"wires":[]},{"id":"52198695b4082ec6","type":"ros-subscribe","z":"ddc83c3f84d60c8e","g":"afd09766af2a7cdb","server":"16956efe04a47409","topicname":"/mavros/imu/temperature_imu","x":900,"y":60,"wires":[["6fec6a9b7fc5eab1","48a8e2d685e1ce2d"]]},{"id":"6fec6a9b7fc5eab1","type":"debug","z":"ddc83c3f84d60c8e","g":"afd09766af2a7cdb","name":"debug 25","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1140,"y":100,"wires":[]},{"id":"48a8e2d685e1ce2d","type":"function","z":"ddc83c3f84d60c8e","g":"afd09766af2a7cdb","name":"IMU Temperature","func":"var temperatureIMU = { payload: parseFloat(msg.payload.temperature).toFixed(1) };\nreturn [temperatureIMU];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":60,"wires":[["f466bc4cde70184c"]]},{"id":"679c160e3fd0462f","type":"ros-subscribe","z":"ddc83c3f84d60c8e","g":"c658abe598d1e37b","server":"16956efe04a47409","topicname":"/mavros/vfr_hud","x":860,"y":420,"wires":[["6932f7192e11b980","65bca2a25b622c11"]]},{"id":"6932f7192e11b980","type":"debug","z":"ddc83c3f84d60c8e","g":"c658abe598d1e37b","name":"debug 26","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1080,"y":340,"wires":[]},{"id":"65bca2a25b622c11","type":"function","z":"ddc83c3f84d60c8e","g":"c658abe598d1e37b","name":"VFR_HUD","func":"var airspeed = { payload: parseFloat(msg.payload.airspeed).toFixed(1) };\nvar groundSpeed = { payload: parseFloat(msg.payload.groundspeed).toFixed(1) };\nvar heading = { payload: parseFloat(msg.payload.heading).toFixed(1) };\nvar throttle = { payload: parseFloat(msg.payload.throttle).toFixed(1) };\nvar altitude = { payload: parseFloat(msg.payload.altitude).toFixed(1) };\nvar climb = { payload: parseFloat(msg.payload.climb).toFixed(1) };\n\nreturn [airspeed, groundSpeed, heading, throttle, altitude, climb];","outputs":6,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":420,"wires":[["8677c8dcb5bc715f"],["0ec5f752fb113e7d"],["6137ecb8502301fe"],["161c11ee64331cac"],["4c85c3eab159475b"],["e13a29549b9d0a60"]]},{"id":"0be3445ae990bcf8","type":"ros-subscribe","z":"ddc83c3f84d60c8e","g":"47568da06afb1245","server":"16956efe04a47409","topicname":"/fireball","x":1150,"y":640,"wires":[["7b24dd45895f71ce"]]},{"id":"7b24dd45895f71ce","type":"function","z":"ddc83c3f84d60c8e","g":"47568da06afb1245","name":"FireBallExtinguisher","func":"var number = { payload: parseInt(msg.payload.data) };\n\nreturn [number];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1370,"y":640,"wires":[["946264a767093cb9"]]},{"id":"aea14c97e3849a82","type":"ros-publish","z":"ddc83c3f84d60c8e","g":"47568da06afb1245","server":"16956efe04a47409","topicname":"/fireball","msgtype":"std_msgs/String","x":1340,"y":740,"wires":[]},{"id":"6f0ce7ce4002cfcc","type":"inject","z":"ddc83c3f84d60c8e","g":"47568da06afb1245","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"data\":\"4\"}","payloadType":"json","x":1150,"y":700,"wires":[["aea14c97e3849a82"]]},{"id":"946264a767093cb9","type":"ui_text","z":"ddc83c3f84d60c8e","g":"47568da06afb1245","group":"1a1025cba07f5f42","order":24,"width":6,"height":1,"name":"","label":"Fire Ball Extinguisher #:","format":"{{msg.payload}}","layout":"row-left","className":"","x":1390,"y":700,"wires":[]},{"id":"ecbb40cd903a26b0","type":"debug","z":"ddc83c3f84d60c8e","g":"51e0e9e87b4a35c4","name":"debug 31","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1320,"y":880,"wires":[]},{"id":"3fe5301f5a0b5c18","type":"ros-subscribe","z":"ddc83c3f84d60c8e","g":"51e0e9e87b4a35c4","server":"16956efe04a47409","topicname":"/gps_goal_fix","x":1130,"y":840,"wires":[["ecbb40cd903a26b0","8fac880793052da8"]]},{"id":"8fac880793052da8","type":"ros-publish","z":"ddc83c3f84d60c8e","g":"51e0e9e87b4a35c4","server":"b40551b7e47d391a","topicname":"/gps_goal_fix","msgtype":"sensor_msgs/NavSatFix","x":1350,"y":840,"wires":[]},{"id":"0480ac8709509b26","type":"inject","z":"ddc83c3f84d60c8e","g":"b28420e697d371b3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":340,"y":520,"wires":[["6dd7a0f67ac53ed4"]]},{"id":"bec695bc41df17b7","type":"function","z":"f4a837709eeded50","g":"407d8ede930ed0f8","name":"Connected","func":"var connected = { payload: msg.payload.data };\n\nreturn [connected];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":80,"wires":[["2feef02238cde301","c2146917c59662e5"]]},{"id":"2feef02238cde301","type":"ui_led","z":"f4a837709eeded50","g":"407d8ede930ed0f8","order":4,"group":"4927109389cd5918","width":4,"height":1,"label":"Connected","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"False","valueType":"str"},{"color":"#008000","value":"True","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":440,"y":60,"wires":[]},{"id":"4138cc3d526116c1","type":"ros-subscribe","z":"f4a837709eeded50","g":"407d8ede930ed0f8","server":"b40551b7e47d391a","topicname":"/status","x":110,"y":200,"wires":[["a9c3e68b9ca68c8e","bec695bc41df17b7"]]},{"id":"52c93f86d08bdc9b","type":"inject","z":"f4a837709eeded50","g":"407d8ede930ed0f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{   \"data\": \"True\" }","payloadType":"json","x":240,"y":380,"wires":[["82a9110486f82178"]]},{"id":"82a9110486f82178","type":"ros-publish","z":"f4a837709eeded50","g":"407d8ede930ed0f8","server":"b40551b7e47d391a","topicname":"/status","msgtype":"std_msgs/String","x":470,"y":320,"wires":[]},{"id":"a9c3e68b9ca68c8e","type":"debug","z":"f4a837709eeded50","d":true,"g":"407d8ede930ed0f8","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":280,"wires":[]},{"id":"c2146917c59662e5","type":"debug","z":"f4a837709eeded50","d":true,"g":"407d8ede930ed0f8","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":180,"wires":[]},{"id":"8fe8a1e5fe7e15a2","type":"function","z":"f4a837709eeded50","g":"5fadb7e7df5aca58","name":"Battery_Life","func":"var msg1 = { payload: parseInt((msg.payload.data)*100) };\nreturn [msg1];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":220,"wires":[["d1f2e82098134ba6"]]},{"id":"d1f2e82098134ba6","type":"ui_gauge","z":"f4a837709eeded50","g":"5fadb7e7df5aca58","name":"","group":"4927109389cd5918","order":1,"width":4,"height":4,"gtype":"gage","title":"Battery","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b30000","#e6e600","#00b500"],"seg1":"50","seg2":"70","className":"","x":1300,"y":180,"wires":[]},{"id":"c1eb550a2528e39e","type":"ui_gauge","z":"f4a837709eeded50","g":"05fa76a1e1ef9d0c","name":"","group":"4927109389cd5918","order":2,"width":4,"height":4,"gtype":"gage","title":"Battery-Voltage","label":"V","format":"{{value}}","min":0,"max":"5","colors":["#b30000","#e6e600","#00b500"],"seg1":"3.5","seg2":"4.8","className":"","x":1300,"y":460,"wires":[]},{"id":"8c419680a4427cb4","type":"inject","z":"f4a837709eeded50","g":"05fa76a1e1ef9d0c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{   \"data\": \"5.0\" }","payloadType":"json","x":980,"y":380,"wires":[["ac38eefb2c455393"]]},{"id":"056ad237852770e8","type":"ros-subscribe","z":"f4a837709eeded50","g":"5fadb7e7df5aca58","server":"b40551b7e47d391a","topicname":"/battery/status","x":910,"y":220,"wires":[["8fe8a1e5fe7e15a2"]]},{"id":"1739ec0b81b51e42","type":"ros-subscribe","z":"f4a837709eeded50","g":"05fa76a1e1ef9d0c","server":"b40551b7e47d391a","topicname":"/battery/voltage","x":860,"y":520,"wires":[["d12ed2d196203229"]]},{"id":"d12ed2d196203229","type":"function","z":"f4a837709eeded50","g":"05fa76a1e1ef9d0c","name":"Battery_Voltage","func":"var msg2 = { payload: parseInt(msg.payload.data) };\nreturn [msg2];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":460,"wires":[["c1eb550a2528e39e"]]},{"id":"88d5e535815b8a9e","type":"inject","z":"f4a837709eeded50","g":"5fadb7e7df5aca58","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{   \"data\": \"1.0\" }","payloadType":"json","x":940,"y":100,"wires":[["43c8e3fa95263a56"]]},{"id":"43c8e3fa95263a56","type":"ros-publish","z":"f4a837709eeded50","g":"5fadb7e7df5aca58","server":"b40551b7e47d391a","topicname":"/battery/status","msgtype":"std_msgs/String","x":1212.75,"y":93.75,"wires":[]},{"id":"ac38eefb2c455393","type":"ros-publish","z":"f4a837709eeded50","g":"05fa76a1e1ef9d0c","server":"b40551b7e47d391a","topicname":"/battery/voltage","msgtype":"std_msgs/String","x":1240,"y":380,"wires":[]},{"id":"26222e96d0eed9d3","type":"ui_text","z":"f4a837709eeded50","g":"f08ca4e11eb9f8b3","group":"31c6605ba8ea8a8a","order":1,"width":5,"height":1,"name":"","label":"Detected Fire: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":620,"y":620,"wires":[]},{"id":"7ce41d94cc0851a1","type":"function","z":"f4a837709eeded50","g":"f08ca4e11eb9f8b3","name":"Detected_Fire","func":"var detected = { payload: msg.payload.data };\n\nreturn [detected];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":600,"wires":[["26222e96d0eed9d3","983b8a615b71a5c3"]]},{"id":"28cbb69e11ed8691","type":"ros-subscribe","z":"f4a837709eeded50","g":"f08ca4e11eb9f8b3","server":"b40551b7e47d391a","topicname":"/detected_fire","x":150,"y":660,"wires":[["2ddbe0e11d35627d","7ce41d94cc0851a1"]]},{"id":"a1fa7c5ff704288d","type":"inject","z":"f4a837709eeded50","g":"f08ca4e11eb9f8b3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{   \"data\": \"True\" }","payloadType":"json","x":180,"y":780,"wires":[["ae6a3d7f11255044"]]},{"id":"ae6a3d7f11255044","type":"ros-publish","z":"f4a837709eeded50","g":"f08ca4e11eb9f8b3","server":"b40551b7e47d391a","topicname":"/estinguished_fire","msgtype":"std_msgs/String","x":530,"y":800,"wires":[]},{"id":"2ddbe0e11d35627d","type":"debug","z":"f4a837709eeded50","d":true,"g":"f08ca4e11eb9f8b3","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":740,"wires":[]},{"id":"983b8a615b71a5c3","type":"debug","z":"f4a837709eeded50","d":true,"g":"f08ca4e11eb9f8b3","name":"debug 15","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":680,"wires":[]},{"id":"b724a18d576d8cca","type":"function","z":"f4a837709eeded50","g":"f08ca4e11eb9f8b3","name":"Estinguished_Fire","func":"var estinguished = { payload: msg.payload.data };\n\nreturn [estinguished];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":520,"wires":[["8ffdf2cc8c1e386b"]]},{"id":"1f2d12e905ff71ea","type":"ros-subscribe","z":"f4a837709eeded50","g":"f08ca4e11eb9f8b3","server":"b40551b7e47d391a","topicname":"/estinguished_fire","x":140,"y":560,"wires":[["b724a18d576d8cca"]]},{"id":"e675c1050dbcf165","type":"inject","z":"f4a837709eeded50","g":"f08ca4e11eb9f8b3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{   \"data\": \"True\" }","payloadType":"json","x":180,"y":880,"wires":[["f2fb7a1e02979e57"]]},{"id":"f2fb7a1e02979e57","type":"ros-publish","z":"f4a837709eeded50","g":"f08ca4e11eb9f8b3","server":"b40551b7e47d391a","topicname":"/detected_fire","msgtype":"std_msgs/String","x":560,"y":880,"wires":[]},{"id":"8ffdf2cc8c1e386b","type":"ui_led","z":"f4a837709eeded50","g":"f08ca4e11eb9f8b3","order":2,"group":"31c6605ba8ea8a8a","width":"5","height":1,"label":"Estinguished:","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"False","valueType":"str"},{"color":"#008000","value":"True","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"Extinguished Fire","x":630,"y":520,"wires":[]},{"id":"917a1b4935a754e8","type":"function","z":"f4a837709eeded50","g":"638659e79dbf0cf9","name":"GPS","func":"var latitude = { payload: msg.payload.latitude };\n\nreturn [latitude];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":680,"wires":[["d90780d0a86137d2","cdff419b9f421c0f"]]},{"id":"8f5767bef00552f1","type":"ros-subscribe","z":"f4a837709eeded50","d":true,"g":"638659e79dbf0cf9","server":"16956efe04a47409","topicname":"/navsat/fix","x":880,"y":680,"wires":[["917a1b4935a754e8"]]},{"id":"d90780d0a86137d2","type":"debug","z":"f4a837709eeded50","d":true,"g":"638659e79dbf0cf9","name":"debug 16","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1340,"y":660,"wires":[]},{"id":"f5567fe9d734aff2","type":"function","z":"f4a837709eeded50","g":"638659e79dbf0cf9","name":"GPS","func":"var longitude = { payload: msg.payload.longitude };\n\nreturn [longitude];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":800,"wires":[["baebc1c94ef3b844","8e3548d2a8ef38e2"]]},{"id":"db3da4b5ee7b06f7","type":"ros-subscribe","z":"f4a837709eeded50","d":true,"server":"16956efe04a47409","topicname":"/navsat/fix","x":860,"y":800,"wires":[["f5567fe9d734aff2"]]},{"id":"baebc1c94ef3b844","type":"debug","z":"f4a837709eeded50","d":true,"g":"638659e79dbf0cf9","name":"debug 17","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1340,"y":780,"wires":[]},{"id":"cdff419b9f421c0f","type":"ui_text","z":"f4a837709eeded50","g":"638659e79dbf0cf9","group":"4927109389cd5918","order":11,"width":5,"height":1,"name":"","label":"latitude: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":1340,"y":700,"wires":[]},{"id":"8e3548d2a8ef38e2","type":"ui_text","z":"f4a837709eeded50","g":"638659e79dbf0cf9","group":"4927109389cd5918","order":13,"width":5,"height":1,"name":"","label":"longitude: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":1340,"y":840,"wires":[]},{"id":"32c462921966bad9","type":"function","z":"f4a837709eeded50","g":"2b0d71437445b798","name":"GPS","func":"//var iss_location = msg.payload.iss_position;\n//let latitude = { payload: parseFloat(msg.payload.position_latitude).toFixed(3) };\n//let longitude = { payload: parseFloat(msg.payload.position_longitude).toFixed(3) };\nlet latitude = flow.get(\"latitude\");\nlet longitude = flow.get(\"longitude\");\n\nmsg.payload = {\n    name: \"Jackal\",\n    lat: latitude,\n    lon: longitude,\n    icon: \"car\",\n    //icon: \"fa- solid fa - shuttle - space\",\n    iconColor: '#900000',\n    //command : { \"zoom\" : 3 }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":1260,"wires":[["1a284ebdfe8ef37e","80dbc714d12ccf92","4754c6b087ab1ab8"]]},{"id":"a1f8e10c6f224d10","type":"ros-subscribe","z":"f4a837709eeded50","d":true,"g":"2b0d71437445b798","server":"16956efe04a47409","topicname":"/navsat/fix","x":160,"y":1360,"wires":[["8d24d95130627fec"]]},{"id":"1a284ebdfe8ef37e","type":"debug","z":"f4a837709eeded50","d":true,"g":"2b0d71437445b798","name":"debug 18","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":1180,"wires":[]},{"id":"80dbc714d12ccf92","type":"worldmap-tracks","z":"f4a837709eeded50","g":"2b0d71437445b798","name":"","depth":"20","smooth":true,"x":850,"y":1260,"wires":[["4754c6b087ab1ab8"]]},{"id":"4754c6b087ab1ab8","type":"worldmap","z":"f4a837709eeded50","g":"2b0d71437445b798","name":"worldmap_two","lat":"","lon":"","zoom":"","layer":"EsriS","cluster":"3","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"true","allowFileDrop":"true","path":"/worldmap_two","overlist":"DR,CO,RA,DN,BU,RW,SN,AC,TL,HM","maplist":"OSMG,OSMC,OSMH,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop,HB,AN,ST,SW","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":1040,"y":1380,"wires":[]},{"id":"7de012f7eea5b1c6","type":"inject","z":"f4a837709eeded50","g":"2b0d71437445b798","name":"Init WorldMap","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"true","payloadType":"bool","x":180,"y":1080,"wires":[["df632325fe7370ea"]]},{"id":"df632325fe7370ea","type":"function","z":"f4a837709eeded50","g":"2b0d71437445b798","name":"Inject /worldmap","func":"msg.payload =   {\n                url : \"/worldmap_two\",\n                command : {\n                        layer:\"Esri Satellite\",\n                        lat:40.825599,\n                        lon:15.274523,\n                        zoom:3,\n                        map: { name: \"Esri Satellite\" },\n                        addtoheatmap:true, \n                        autopan:true\n                        }\n                };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1080,"wires":[["6bc023d9ffab218a"]]},{"id":"6bc023d9ffab218a","type":"template","z":"f4a837709eeded50","g":"2b0d71437445b798","name":"Add Map to Dashboard","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload.url}}} height=750px width=1000px ></iframe>","x":690,"y":1080,"wires":[["17dfb463eea0b5ef"]]},{"id":"17dfb463eea0b5ef","type":"ui_template","z":"f4a837709eeded50","g":"2b0d71437445b798","group":"dcb5afc7d4b5d1ec","name":"Embedded Map","order":1,"width":20,"height":15,"format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":920,"y":1080,"wires":[[]]},{"id":"8d24d95130627fec","type":"function","z":"f4a837709eeded50","g":"2b0d71437445b798","name":"Position","func":"var latitude = { payload: parseFloat(msg.payload.latitude).toFixed(5) };\nvar longitude = { payload: parseFloat(msg.payload.longitude).toFixed(5) };\nvar position_absolute_alt = { payload: parseFloat(msg.payload.altitude).toFixed(2) };\nvar position_relative_alt = { payload: parseFloat(msg.payload.altitude).toFixed(2) };\nreturn [latitude, longitude, position_absolute_alt, position_relative_alt];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":1180,"wires":[["b6f09a9f3ea74c88"],["924611ad2cc067d1"]]},{"id":"b6f09a9f3ea74c88","type":"change","z":"f4a837709eeded50","g":"2b0d71437445b798","name":"","rules":[{"t":"set","p":"latitude","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1160,"wires":[["32c462921966bad9"]]},{"id":"924611ad2cc067d1","type":"change","z":"f4a837709eeded50","g":"2b0d71437445b798","name":"","rules":[{"t":"set","p":"longitude","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1260,"wires":[["32c462921966bad9"]]},{"id":"e06af965515b312d","type":"function","z":"f4a837709eeded50","g":"2b0d71437445b798","name":"function 2","func":"let latitude = flow.get(\"latitude\");\nlet longitude = flow.get(\"longitude\");\n\nmsg.payload = { \"message\": \"success\", \"rover_position\": { \"latitude\": latitude, \"longitude\": longitude }, \"timestamp\": 1662468782 }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":1580,"wires":[["9ae5aeea9a3158ef","32c462921966bad9"]]},{"id":"9ae5aeea9a3158ef","type":"debug","z":"f4a837709eeded50","d":true,"g":"2b0d71437445b798","name":"debug 19","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1580,"wires":[]},{"id":"b6ea57200ec9291c","type":"change","z":"f4a837709eeded50","g":"2b0d71437445b798","name":"","rules":[{"t":"set","p":"latitude","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1520,"wires":[["e06af965515b312d"]]},{"id":"70802bf4318ed54a","type":"change","z":"f4a837709eeded50","g":"2b0d71437445b798","name":"","rules":[{"t":"set","p":"longitude","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1620,"wires":[["e06af965515b312d"]]},{"id":"84a379349d1bcd0d","type":"ui_slider","z":"f4a837709eeded50","g":"2b0d71437445b798","name":"","label":"latitude","tooltip":"","group":"dcb5afc7d4b5d1ec","order":2,"width":6,"height":1,"passthru":true,"outs":"all","topic":"latitude","topicType":"flow","min":"-90","max":"90","step":"0.00001","className":"","x":320,"y":1520,"wires":[["b6ea57200ec9291c"]]},{"id":"85d33bb2818216c7","type":"ui_slider","z":"f4a837709eeded50","g":"2b0d71437445b798","name":"","label":"longitude","tooltip":"","group":"dcb5afc7d4b5d1ec","order":4,"width":7,"height":1,"passthru":true,"outs":"all","topic":"longitude","topicType":"flow","min":"-180","max":"180","step":"0.00001","className":"","x":320,"y":1600,"wires":[["70802bf4318ed54a"]]},{"id":"e0f273097bc46780","type":"comment","z":"f4a837709eeded50","d":true,"g":"2b0d71437445b798","name":"Control rover manually","info":"","x":500,"y":1440,"wires":[]},{"id":"a83226165d96a0c1","type":"function","z":"f4a837709eeded50","g":"8e51426e14255890","name":"Connected","func":"var temperature = { payload: parseFloat(msg.payload.data)};\nreturn [temperature];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":1780,"wires":[["3ca8033a587f298e","5a47acdf5eb8e625"]]},{"id":"338b6b185995887f","type":"ros-subscribe","z":"f4a837709eeded50","g":"8e51426e14255890","server":"b40551b7e47d391a","topicname":"/temperature/sensor","x":130,"y":1860,"wires":[["a83226165d96a0c1","5c9ea988acb25ec3"]]},{"id":"d93622fde38192dd","type":"inject","z":"f4a837709eeded50","g":"8e51426e14255890","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{   \"data\": \"40.5\" }","payloadType":"json","x":140,"y":2160,"wires":[["d28dd2984d3c405a"]]},{"id":"d28dd2984d3c405a","type":"ros-publish","z":"f4a837709eeded50","g":"8e51426e14255890","server":"b40551b7e47d391a","topicname":"/temperature/sensor","msgtype":"std_msgs/String","x":580,"y":2160,"wires":[]},{"id":"3ca8033a587f298e","type":"debug","z":"f4a837709eeded50","g":"8e51426e14255890","name":"debug 21","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":1860,"wires":[]},{"id":"5a47acdf5eb8e625","type":"ui_gauge","z":"f4a837709eeded50","g":"8e51426e14255890","name":"","group":"4927109389cd5918","order":7,"width":4,"height":4,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#b30000"],"seg1":"50","seg2":"100","className":"","x":630,"y":1780,"wires":[]},{"id":"c11869362e7b9886","type":"ros-publish","z":"f4a837709eeded50","g":"8e51426e14255890","server":"b40551b7e47d391a","topicname":"/update/temperature","msgtype":"std_msgs/String","x":460,"y":2040,"wires":[]},{"id":"f19015fdf6338f95","type":"inject","z":"f4a837709eeded50","g":"8e51426e14255890","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"data\":\"55\"}","payloadType":"json","x":150,"y":2040,"wires":[["c11869362e7b9886"]]},{"id":"72eacb035aa4c685","type":"ros-subscribe","z":"f4a837709eeded50","g":"8e51426e14255890","server":"b40551b7e47d391a","topicname":"/update/temperature","x":270,"y":2100,"wires":[["40c46e71a5978ff4"]]},{"id":"40c46e71a5978ff4","type":"debug","z":"f4a837709eeded50","g":"8e51426e14255890","name":"debug 22","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":2100,"wires":[]},{"id":"8498356e1c9525be","type":"function","z":"f4a837709eeded50","g":"1efdcc16e841f3c6","name":"Fire_Position","func":"var fire = { payload: msg.payload };\n\nreturn [fire];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":1820,"wires":[["c514b385493a875a","f2a5fb7a9ccb0394"]]},{"id":"06086b6e0999c0f5","type":"ros-subscribe","z":"f4a837709eeded50","d":true,"g":"1efdcc16e841f3c6","server":"16956efe04a47409","topicname":"/darknet_ros_3d/markers","x":950,"y":1820,"wires":[["8498356e1c9525be"]]},{"id":"c514b385493a875a","type":"debug","z":"f4a837709eeded50","g":"1efdcc16e841f3c6","name":"debug 23","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1500,"y":1780,"wires":[]},{"id":"f2a5fb7a9ccb0394","type":"ui_text","z":"f4a837709eeded50","d":true,"g":"1efdcc16e841f3c6","group":"31c6605ba8ea8a8a","order":3,"width":4,"height":1,"name":"","label":"Location FIre Distance: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":1550,"y":1840,"wires":[]},{"id":"2e859349d017e8fa","type":"function","z":"f4a837709eeded50","g":"beb258d68d350182","name":"Fuel:Status","func":"var msg1 = { payload: parseInt((msg.payload.data)*100) };\nreturn [msg1];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":1220,"wires":[["2776fe320e9cf8f8"]]},{"id":"2776fe320e9cf8f8","type":"ui_gauge","z":"f4a837709eeded50","g":"beb258d68d350182","name":"","group":"4927109389cd5918","order":8,"width":4,"height":4,"gtype":"gage","title":"Fuel","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b30000","#e6e600","#00b500"],"seg1":"50","seg2":"70","className":"","x":1650,"y":1180,"wires":[]},{"id":"bb3003c05ddaa594","type":"ros-subscribe","z":"f4a837709eeded50","g":"beb258d68d350182","server":"b40551b7e47d391a","topicname":"/fuel/status","x":1260,"y":1220,"wires":[["2e859349d017e8fa"]]},{"id":"068b0e1a5083e2fe","type":"inject","z":"f4a837709eeded50","g":"beb258d68d350182","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{   \"data\": \"1.0\" }","payloadType":"json","x":1300,"y":1100,"wires":[["032eae6627e2175e"]]},{"id":"032eae6627e2175e","type":"ros-publish","z":"f4a837709eeded50","g":"beb258d68d350182","server":"b40551b7e47d391a","topicname":"/fuel/status","msgtype":"std_msgs/String","x":1562.75,"y":1093.75,"wires":[]},{"id":"ee761337b4ed512e","type":"ui_gauge","z":"f4a837709eeded50","g":"c53101b2820f65ea","name":"","group":"4927109389cd5918","order":9,"width":4,"height":3,"gtype":"wave","title":"Water","label":"L","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1230,"y":2000,"wires":[]},{"id":"5c9ea988acb25ec3","type":"debug","z":"f4a837709eeded50","g":"8e51426e14255890","name":"debug 25","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":1920,"wires":[]},{"id":"f1b1e898624d99ab","type":"ui_text","z":"f4a837709eeded50","group":"4927109389cd5918","order":3,"width":4,"height":1,"name":"","label":"Rover Manual","format":"{{msg.payload}}","layout":"row-left","className":"","x":177.56666564941406,"y":274.566650390625,"wires":[]},{"id":"e1dcc023d97b534a","type":"ui_text","z":"f4a837709eeded50","g":"638659e79dbf0cf9","group":"4927109389cd5918","order":15,"width":5,"height":1,"name":"","label":"altitude: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":1340,"y":920,"wires":[]},{"id":"4503a4cd1d80a998","type":"ros-subscribe","z":"f4a837709eeded50","g":"c53101b2820f65ea","server":"b40551b7e47d391a","topicname":"/water/sensor","x":910,"y":2020,"wires":[["7e303e7c8d4a45ac"]]},{"id":"7e303e7c8d4a45ac","type":"function","z":"f4a837709eeded50","g":"c53101b2820f65ea","name":"Connected","func":"var temperature = { payload: parseFloat(msg.payload.data)};\nreturn [temperature];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":2060,"wires":[["ee761337b4ed512e"]]},{"id":"251fc58278c2d560","type":"ros-publish","z":"f4a837709eeded50","g":"c53101b2820f65ea","server":"b40551b7e47d391a","topicname":"/water/sensor","msgtype":"std_msgs/String","x":1280,"y":2160,"wires":[]},{"id":"8dca369638a142f3","type":"inject","z":"f4a837709eeded50","g":"c53101b2820f65ea","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{   \"data\": \"100000\" }","payloadType":"json","x":950,"y":2140,"wires":[["251fc58278c2d560"]]},{"id":"08308eedff325358","type":"ros-subscribe","z":"f4a837709eeded50","d":true,"g":"638659e79dbf0cf9","server":"16956efe04a47409","topicname":"/navsat/fix","x":880,"y":900,"wires":[["8e8a90e7527a1b89"]]},{"id":"8e8a90e7527a1b89","type":"function","z":"f4a837709eeded50","g":"638659e79dbf0cf9","name":"GPS","func":"var longitude = { payload: msg.payload.longitude };\n\nreturn [longitude];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":880,"wires":[["e1dcc023d97b534a","e65133342b4ad6d3"]]},{"id":"e65133342b4ad6d3","type":"debug","z":"f4a837709eeded50","d":true,"g":"638659e79dbf0cf9","name":"debug 26","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1320,"y":880,"wires":[]}]